---
id: "python-en-function-doctest-testresults"
language: "python"
lang: "en"
category: "function"
name: "TestResults"
signature: "TestResults(failed, attempted)"
directive: "class"
module: "doctest"
source_url: "https://docs.python.org/3/library/doctest.html#doctest.TestResults"
license: "PSF"
updated: "2026-10-01"
---

# TestResults

attribute:: failed

attribute:: attempted

attribute:: skipped
